
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    background-color: black;
    color:white;
    font-family: "Roboto", sans-serif;
   height:100vh;

    
}


.main{
  
   height:90%;
   display: flex;

   /* align-items: center; */
}
.logo{
    padding: 20px;
}
.header{
    padding-right:10px;
    padding-left:20px;
    display: flex;

    justify-content: space-between;
}

.logo-text{
    font-size:32px;
   
    font-weight:400;
    cursor: pointer;
}

.nav-links{
    list-style-type: none;
    text-transform: capitalize;
    display: flex;
    padding:10px;
    justify-content: space-around;
}
.nav-links .link{
 padding:20px;
    font-size: 24px;


}
.link:hover{
    background-color: white;
    color:black;
    transition: all 250ms ease-in;
}

.hero{
    width:100%;

display:flex;
padding:20px;

justify-content: center;
flex-direction: column;
align-items: center;
    gap:20px;
}

.hero-title{
    width:100%;
    
text-align: center;
font-size:56px;
font-weight: 400;


}
.sub-title{
    width:100%;
    font-size: 28px;
 
    font-weight: 300;
  
    text-align: center;
}

.btn{
    width:320px;
    padding-top:10px;
    padding-bottom: 10px;
    font-size:28px;
    font-weight:500;
    margin:30px;
    border-radius: 20px;
    background-color: white;
    color:#000;
    border:none;
}

.side-bar{
   
 
    width:25%;
   padding:30px 15px;
    background-color: #fff;
    color:black;
    display:flex;
    flex-direction: column;
    gap:25px;
}
.side-bar p{
    font-size:32px;
    font-weight: 500;
    text-align: center;
    padding-top:20px;

    padding-bottom:20px;
}
.side-bar img{
    width:420px;
}
.footer a {
    color: #fff;
    padding: 10px;
  }